@font-face {
  font-display: swap;
  font-family: "PlusJakartaSans";
  font-style: normal;
  font-weight: 500;
  src: local("PlusJakartaSans"),
    url("PlusJakartaSans-VariableFont_wght.ttf") format("ttf");
}
